@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Stick&family=DotGothic16&display=swap');

body {
	overflow: hidden;
  height: 100dvh;
}

#CANVAS {
	background-color: #41996d
}

.hide {
  display: none !important;
}

.generate-duck {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.next {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  font-style: 18px;
}

.prev {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-style: 18px;
}

.game-font {
  font-family: 'DotGothic16', sans-serif;
}

.show-story {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  &-modal {
    padding: 20px;
    .contact {
      min-width: 320px;
      color: #fff;
      font-size: 16px;
      text-align: center;
    }
    .farmer {
      display: block;
      width: 150px;
      margin: 0 auto;
    }
  }
}

// font-family: 'Noto Sans TC', sans-serif;
// font-family: 'Rampart One', sans-serif;
// font-family: 'Stick', sans-serif;